#The one-step analysis and compilation flow is used to support legacy ICE 

veanalyze Master_Axi3Protocol.sv Slave_Axi3Protocol.sv  Top_HDL.sv MasterSlaveAxiInterface.sv

#rtlc -partition_module_rtl axi
#Declare top level module 
comp -top AXI_design_emulation 

#Declare single step compile/analysis flow
comp -single_step

#Solo is D1S
comp -platform D1S

comp -num_boards 1

#ICE Legacy Support enabled
comp -app legacy 



